smaller, .smaller{
	font-size: $smaller-font-size;
}
bigger, .bigger{
	font-size: $bigger-font-size;
}

@if $headers-resizing {
	@each $breakpoint in map-keys($grid-breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			h1, .h1 { font-size: $h1-font-size * map-get($headers-breakpoints, $breakpoint);}
			h2, .h2 { font-size: $h2-font-size * map-get($headers-breakpoints, $breakpoint);}
			h3, .h3 { font-size: $h3-font-size * map-get($headers-breakpoints, $breakpoint);}
			h4, .h4 { font-size: $h4-font-size * map-get($headers-breakpoints, $breakpoint);}
			h5, .h5 { font-size: $h5-font-size * map-get($headers-breakpoints, $breakpoint);}
			h6, .h6 { font-size: $h6-font-size * map-get($headers-breakpoints, $breakpoint);}
		}
	}
}
