.c_left{clear:left;}
.c_right{clear:right;}
.c_both{clear:both;}
.f_left{float:left;}
.f_right{float:right;}
.f_none{float:none;}
.d_block{display:block;}
.d_inline{display:inline;}
.d_none{display:none;}
.d_table{display:table}
.d_tablerow{display:table-row;}
.d_tablecell{display:table-cell;}
.d_flex{ display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; }
.flexw-wrap{ -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.ta-left{text-align:left;}
.ta-right{text-align:right;}
.ta-center{text-align:center;}
.ta-just{text-align:justify;}
.va-top{vertical-align:top;}
.va-middle{vertical-align:middle;}
.va-bottom{vertical-align:bottom;}
.rel{position:relative;}
.abs{position:absolute;}
.pts{padding-top:.4em;}
.prs{padding-right:.4em;}
.pbs{padding-bottom:.4em;}
.pls{padding-left:.4em;}
.ps{padding:.4em;}
.ptm{padding-top:.8em;}
.prm{padding-right:.8em;}
.pbm{padding-bottom:.8em;}
.plm{padding-left:.8em;}
.pm{padding:.8em;}
.ptb{padding-top:1.1em;}
.prb{padding-right:1.1em;}
.pbb{padding-bottom:1.1em;}
.plb{padding-left:1.1em;}
.pvb{padding:2em;}
.ptvb{padding-top:2em;}
.prvb{padding-right:2em;}
.pbvb{padding-bottom:2em;}
.plvb{padding-left:2em;}
.pb{padding:1.1em;}
.mts{margin-top:.4em;}
.mrs{margin-right:.4em;}
.mbs{margin-bottom:.4em;}
.mls{margin-left:.4em;}
.ms{margin:.4em;}
.mtm{margin-top:.8em;}
.mrm{margin-right:.8em;}
.mbm{margin-bottom:.8em;}
.mlm{margin-left:.8em;}
.mm{margin:.8em;}
.mtb{margin-top:1.1em;}
.mrb{margin-right:1.1em;}
.mbb{margin-bottom:1.1em;}
.mlb{margin-left:1.1em;}
.mb{margin:1.1em;}
.font140{font-size:150%;}
.font120{font-size:120%;}
.font100{font-size:100%;}
.font95{font-size:95%;}
.font90{font-size:90%;}
.font85{font-size:85%;}
.font80{font-size:80%;}
.font75{font-size:75%;}
.sm{font-size:1px;margin:0;padding:0;}
.lsn{list-style:none;}
.lsd{list-style:disc;padding-left:20px;}
.lss{list-style:square;}
a.tdn,.tdn{text-decoration:none;}
a.tdu,.tdu{text-decoration:underline;}
.tds{text-decoration:line-through}
.w100{width:100%;}
.w80{width:80%;}
.w50{width:50%;}
.w33{width:33.33%;}
.w25{width:25%;}
.w20{width:20%;}
.lhs{line-height:106%;}
.hand{cursor:pointer;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.normal{font-weight:normal;}
.navy{color:#001f3f}
.blue{color:#0074d9}
.aqua{color:#7fdbff}
.teal{color:#39cccc}
.olive{color:#3d9970}
.green{color:#2ecc40}
.lime{color:#01ff70}
.yellow{color:#ffdc00}
.orange{color:#ff851b}
.red{color:#F15559}
.fuchsia{color:#f012be}
.purple{color:#b10dc9}
.maroon{color:#85144b}
.white{color:#fff}
.silver{color:#ddd}
.gray{color:#aaa}
.black{color:#111}
.m{color:#ff4136;font:normal 11px 'courier new';letter-spacing:-4px;padding:0 3px 0 0;}
.ov-hidden{overflow:hidden;}


.no-border {border:0 !important}