footer {
  position: relative;
  z-index: 2;
  background: #F8F8F8;
  padding: 62px 0;
}

.copyright-img img {
  display: block;
}
.copyright-text {
  color: #757575;
  font-weight: 500;
  font-size: 0.857rem;
  font-family: "Inter", "Montserrat", "Helvetica", "Arial", sans-serif;
  padding-top: 1px;
}

.site-support {
  text-align: right;
  padding-top: 3px;
}
.site-support__phone {
  font-weight: 600;
  font-size: 1.286rem;
  line-height: 1.2;
  white-space: nowrap;
}
.site-support__phone a {
  color: #363333;
  text-decoration: none;
}
.site-support__phone a:hover {
  color: #017DD9;
}
.site-support__text {
  font-weight: 500;
  font-size: 0.929rem;
  line-height: 16px;
  color: #757575;
  padding-top: 3px;
}
.site-support__text span {
  display: block;
}

.creators {
  white-space: nowrap;
  text-align: right;
  padding-top: 58px;
}
.creators a {
  text-decoration: none;
  color: #757575;
}
.creators a span {
  font-size: 0.929rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
}
.creators a svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 6px;
}
.creators a svg path {
  transition: all 0.25s ease-out !important;
}
.creators a svg path.path-color {
  fill: #E43636;
}
.creators a:hover {
  color: #363333;
}
.creators a:hover svg path.path-arrow {
  fill: #017DD9;
}

.footer-menu {
  display: flex;
}
.footer-menu__col {
  padding: 0 100px 0 0;
}
.footer-menu__col:last-child {
  padding: 0;
}
.footer-menu__head {
  font-weight: 600;
}
.footer-menu__head .footer-menu__title {
  position: relative;
}
.footer-menu__head .footer-menu__title i {
  display: none;
}
.footer-menu__head a {
  color: #363333;
  text-decoration: none;
}
.footer-menu__head a:hover {
  color: #E43636;
}
.footer-menu__list ul {
  list-style: none;
  margin: 0;
  padding: 11px 0;
}
.footer-menu__list ul li {
  font-family: "Inter", "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 1.071rem;
  line-height: 1.2;
  padding: 5px 0;
}
.footer-menu__list ul li a {
  color: #757575;
  text-decoration: none;
}
.footer-menu__list ul li a:hover {
  color: #017DD9;
}
.footer-menu__list ul li.active {
  color: #000;
}
.footer-menu__list ul li.active a {
  color: #000;
}
.footer-menu__list ul li.active a:hover {
  color: #017DD9;
}
.footer-menu__list ul.two-colums {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 0;
       column-gap: 0;
}
.footer-menu__list ul.two-colums li {
  white-space: nowrap;
  padding-right: 30px;
}

@media (max-width: 1399.98px) {
  .footer-menu__col {
    padding: 0 50px 0 0;
  }
  .footer-menu__list ul.two-colums li {
    padding-right: 15px;
  }
}
@media (max-width: 1024.98px) {
  footer {
    padding: 40px 0;
  }
  .footer-menu__col {
    padding: 0 24px 0 0 !important;
    flex: 0 0 33.33333%;
  }
  .footer-menu__list ul.two-colums {
    -moz-column-count: 1;
         column-count: 1;
  }
  .footer-menu__list ul.two-colums li {
    padding-right: 0;
  }
  .creators a span {
    display: block;
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  .footer-menu__list {
    display: block !important;
  }
}
@media (max-width: 768.98px) {
  footer {
    padding: 47px 0;
  }
  .copyright {
    padding-bottom: 28px;
  }
  .site-support {
    text-align: left;
    padding-top: 34px;
  }
  .site-support__text span {
    display: inline;
  }
  .creators {
    text-align: left;
    padding-top: 26px;
  }
  .creators a span {
    display: inline-block;
    margin-right: 10px;
  }
  .footer-menu {
    display: block;
    border-top: 1px solid #EAEAEA;
  }
  .footer-menu__col {
    padding: 0 !important;
    border-bottom: 1px solid #EAEAEA;
  }
  .footer-menu__head .footer-menu__title {
    display: block;
    padding: 17px 0;
    line-height: 1.3;
  }
  .footer-menu__head .footer-menu__title i {
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    line-height: 1;
    color: #E43636;
    font-size: 17px;
    font-weight: bold;
  }
  .footer-menu__head.active .footer-menu__title i:before {
    content: "\e902";
  }
  .footer-menu__list {
    display: none;
  }
  .footer-menu__list ul {
    padding: 1px 0 11px 0;
  }
  .footer-menu__list ul li {
    font-size: 1rem;
    padding: 7px 0 6px 0;
  }
}/*# sourceMappingURL=footer.css.map */